.fondo{
    background-image: url("../Globoterraqueo.jpg");
    background-position: center center;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
    
}

.navBar>label{
    text-align: center;
    margin-left: 50px;
   
   
}
.navBar>div>label{
    text-align: center;
    margin-left: 50px;

   
}
.navBar{
    background-color: black;
    color:white;
    margin-block-end: 10px;
}
.search{
 display: flex;
}
.activity{
    margin-left: 65%;
}
select {
    font-size: 15px;
    size: 5;
  }
.pasar{
    color: white;
}
.indice{
    margin-top: 65px;
	padding-bottom: 50px;
}