.todo{
    
    background-image: url("../paises.jpg");
    background-position: center center;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}

.button_start{
    text-align: center;
    font-size:xx-large;
   
    margin-top: 20%;
    margin-bottom: 15%;
}
.titulo{
    font-size: 52px;
    color: rgb(0, 0, 0);
}